.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3000;
    top: 0;
    right: 0;
    background-color: rgb(238, 235, 235);
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    
    
  }

  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
  }
  
  .openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color:rgb(36, 179, 211);
    color: white;
    padding: 10px 15px;
    border: none;
    top: 70px;
    right: 0px;
    position:fixed;
  }
  
  .openbtn:hover {
    background-color:  rgba(36, 179, 211, 0.605);
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .sidebar-logo{
      
      height: 100px;
      width: 100px;
  }

 