html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.551); 
}
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Monument Extended";
}

.fs-display{
	font-size: 60px;
}

.fs-general{
	font-size: 20px;
}


.fs-vision{
	font-size: 25px;
}

@media screen and (max-width: 800px) {
    .fs-vision{
		font-size: 20px;
	}

	.fs-general{
        font-size: 15px;
	}
	.fs-display{
		font-size: 30px;
	}
  }


.scale-up:hover{
  transform: scale(1.3);
  transition: 1.2s;
}

.parallax {
    min-height: 500px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-gray{
    background-color: rgba(255, 255, 255, 0.347);
}

.text-blue{
    color: rgba(36, 179, 211, 0.85);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.shadow{
    -webkit-box-shadow: 0px 7px 23px 5px rgba(0,0,0,0.41); 
     box-shadow: 0px 7px 23px 5px rgba(0,0,0,0.41);
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}


/* Navbar CSS */

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 50px;
	background-color: rgba(36, 179, 211);
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 10px;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: small;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

@media screen and (min-width: 1050px) {
    nav .links a{
		font-size: medium;
	}
}

#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 1000px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
		font-size: 24px;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}

	.dropdown-style{
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	
}


/* Intro CSS */

.bg-intro {
    
    
    height: 100%; 
    width: 100%;
  
   
}

.uspar-logo{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
	width: 150px; 
	height: 150px;
}

@media screen and (max-width: 600px) {
    .uspar-logo{
		display: none !important;
	}
  }

@media screen and (max-width: 800px) {
    .uspar-logo{
		height: 100px;
		width: 100px;
	}
  } 
@media screen and (min-width: 1900px) {
	.uspar-logo{
       width: 200px;
	   height: 200px;
	}
	
}  

.cotton{
  position: absolute;
  top: 200px;
  right: 50px;
  
}

.yarn{
    position: absolute;
    top: 400px;
    right: 50px;
}

.fabric{
    position: absolute;
    top: 600px;
    right: 50px;
}

@media screen and (max-width: 1000px) {
    .cotton{
		display: none;
	}

	.yarn{
		display: none;
	}

	.fabric{
		display: none;
	}
  }



/* History CSS */
.history-img{
		min-width: 300px;
}


/* Vision CSS */

.bg-vision{
    background-image: url("images/tezgah1.jpg");

    height: 10%;
    

  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* What we do CSS */

.bg-wwd{
    background-image: url("images/whatWeDo.PNG");

    height: 500px;
    

  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mini-pics-font{
	font-size: medium;
	color: white;
}

.mini-pics-font-header{
	font-size: x-large;
	color: white;
}

.mini-pics{
	width: 300px;
	height: 300px;
}

.mini-pics-icon{
	height: 100px;
	width: 100px;
}

@media screen and (max-width: 700px) {
    .mini-pics{
		width: 200px;
		height: 200px;
	}
	.mini-pics-font{
		font-size: x-small;
	}
	.mini-pics-font-header{
		font-size: medium;
	}
	.mini-pics-icon{
		height: 50px;
	    width: 50px;
	}

  }

/* P&D CSS */

.bg-pd{
    background-image: url("images/lab.PNG");

    height: 500px;
    

  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.certificates-fs{
	font-size: 20px;
}

@media screen and (max-width: 600px) {
    .certificates-fs{
		font-size: 10px;
	}
  }

@media screen and (min-width: 1900px) {
    .certificates-fs{
		font-size: 40px;
	}
  }
.bg-contact{

    background-image: url("images/contact.jpg");

    height: 500px;
    

  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map-frame{
	height: 450px;
	width: 600px;
}

@media screen and (max-width: 600px) {
   .map-frame{
	   height: 500px;
	   width: 350px;
   }
}

@media screen and (max-width: 400px) {
	.map-frame{
		height: 500px;
		width: 250px;
	}
 }
/* Footer CSS */

.bg-footer{
    background-color: rgba(36, 179, 211, 0.85);
}
.fs-footer{
	font-size: small;
}

.footer-logo{
	height: 200px;
}

@media screen and (max-width: 800px) {
	.footer-logo{
		height: 100px;
	}
 }

@media screen and (max-width: 600px) {
	.fs-footer{
		font-size: x-small;
	}
 }

